* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

body {
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    background: white url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: -39rem;
    background-position-y: -25rem;
    background-size: 71rem 82rem;
    display: flex;
    flex-direction: row;
    height: 43.6rem;
    width: 73rem;
    border-radius: 2rem;
}

.child {
    width: 50%;
}

#imagem-lateral {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: -7.3rem;
    background-position-y: 6.5rem;
    background-size: 40rem;
}

#texto-faq {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

#texto-faq h1 {
    font-family: 'Kumbh Sans', sans-serif;;
    font-size: 1.92rem;
    font-weight: 700;
}

.perguntas-tudo {
    max-width: 100rem;
}

.pergunta {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    margin: 1.5rem 0;
    outline: none;
    text-align: left;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.pergunta img {
    align-self: right;
}

.active .pergunta:hover {
    font-weight: 700;
}

.active .pergunta img:hover {
    transform: rotate(180deg);
}
.resposta {
    opacity: 70%;
    overflow: hidden;
    display: none;
}

.rodape {
   position: absolute;
   bottom: 1rem;
   justify-self: center;
   text-align: center;
}

@media screen and (max-width: 911px) {
    body {
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0 1.5rem;
    }

    .child {
        max-width: 100%;
        width: auto;
        padding: 0 1.5rem;
    }

    #texto-faq h1 {
        text-align: center;
    }

}
