* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

body {
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.child {
    width: 50%;
}

#imagem-box-desktop {
    background-image: url(./images/illustration-box-desktop.svg);
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: 14.9rem;
    position: absolute;
    height: 38%;
    width: 21%;
    left: -7.30rem;
    top: 18.8rem;
    z-index: 2;
}

#caixa-branca {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-color:  white;
    background-repeat: no-repeat;
    background-size: 70rem 81rem;
    background-position-x: -39rem;
    background-position-y: -25rem;
    display: flex;
    flex-direction: row;
    height: 43.6rem;
    width: 73rem;
    border-radius: 2rem;
    z-index: 1;
}

#imagem-mulher-desktop {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: 37rem;
    background-position-x: -6.6rem;
    background-position-y: 8.5rem;
}


#texto-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28rem;
    min-height: 42rem;
    max-height: 35rem;
    margin-top: 1.5rem
}

#texto-faq h1 {
    font-family: 'Kumbh Sans', sans-serif;;
    font-size: x-large;
    font-weight: 700;
}

#texto-faq img {
    margin-right: 1rem;

}

#perguntas-respostas {
    justify-content: space-between;
    margin-top: 1rem;
}

.dupla-pr {
    min-height: 4rem;
}

.pergunta {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    margin-bottom: 1rem;
    outline: none;
    text-align: left;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.resposta {
    overflow: hidden;
    display: none;
    opacity: 70%;
}

hr {
    margin: 1rem 0;
}

button:hover {
    color: hsl(14, 88%, 65%);
}

#caixa-branca .pergunta.active {
    font-weight: 900;
    
}

#caixa-branca .pergunta.active img {
    transform: rotate(-180deg);
}

.rodape {
    bottom: 1rem;
    position: absolute;
    justify-self: center;
    text-align: center;
}

@media screen and (max-width: 997px) {
    body {
        align-items: inherit;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-top: 11rem;
    }

    #imagem-mulher-mobile {
        background-image: url(./images/illustration-woman-online-mobile.svg);
        background-repeat: no-repeat;
        position: absolute;
        height: 33%;
        width: 31%;
        left: 20.9rem;
        top: -9rem;
        z-index: 4;
    }

    #imagem-box-desktop {
        display: none;
    }

    #caixa-branca {
        background-image: url(./images/bg-pattern-mobile.svg);
        background-size: auto;
        background-position-x: center;
        background-position-y: 0rem;
        position: relative;
        height: auto;
        width: auto;
        top: -4.5rem;
    }

    #imagem-mulher-desktop {
        display: none;
    }

    #texto-faq {
        min-width: 53rem;
        padding-top: 2.5rem;
        margin: auto 4rem;
    }
    
    hr {
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 770px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 2rem;
    }

    .container {
        justify-content: initial;
        min-height: 58rem;
        margin-top: 0;
    }

    #imagem-mulher-mobile {
        height: 31%;
        width: 75%;
        left: 3.5rem;
        top: 3.2rem;
    }

    #caixa-branca {
        width: 28rem;
        top: 0.1rem;
        margin-top: 12.6rem;
    }

    #texto-faq {
        align-items: center;
        width: 100%;
        min-width: inherit;
        min-height: inherit;
        max-height: inherit;
        padding-top: 0;
        margin: 10rem 0 3rem 0;
        font-size: .9rem;
        
    }

    #perguntas-respostas {
        width: 23rem;
        margin-top: 2.5rem;
    }

    .dupla-pr {
        min-height: 4rem;
    }

    .rodape {
        position: inherit;
        bottom: 0;
        margin-top: 2rem;
    }

}